.header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.header-text {
    margin: 20px;
    text-decoration: none;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
}

.header-text:hover {
    color: brown;
    font-weight: 700;
}